.App {
  text-align: center;
  background-color: #fff0f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  margin: auto;
}
